NightSkyReportProcess.gdb/
LAVO/
YOSE/
PORE/
YOSE/
.backups/
.ipynb_checkpoints/
GpMessages/
ImportLog/
Index/
*gdbtable
NightSkyReportProcess_index/
*.RData
*.Rhistory
SEKI/
SEQU/
KICA/
*.docx
UpdateStudySites.R
OLYM/
.Rproj.user
CACO/
CUIS/
WUPA/
sALR_outputs/
CEBR/
DINO/
ROMO/
NPSA/